# Node modules
node_modules

# Next.js build output
.next
out
dist

# Environment files
.env*
.env.local
.env.development.local
.env.production.local

# Log files
*.log

# Yarn / npm lock files (optional)
yarn.lock
package-lock.json

# Coverage reports
coverage

# VSCode settings (optional)
.vscode

# Misc
.DS_Store
